body{
    background-color: rgb(15, 11, 11);
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main{
    display: flex;
    justify-content: center;
    justify-content: center;
}

#radio-container{
    background-color: #0c0921cd;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 5px solid rgba(4, 3, 90, 0.546);
    border-radius: 5px;
}

h1{
    font-weight: bold;
    font-size: 2em;
}

img{
    border:2px black solid;
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
}


select{
    text-align: center;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
    background-color:rgba(86, 143, 218, 0.546);
    color: rgb(241, 240, 238);
    padding: 5px;
}


select:focus{
        font-weight: bold;
        box-shadow: 2px 2px 2px rgb(243, 243, 241);
}

select:active{
        font-weight: bold;
        box-shadow: 1px 1px 1px rgb(243, 243, 241);
}

option{
     background-color:rgba(86, 143, 218, 0.546);
}

.btn{
    padding: 10px;
    background-color: rgba(86, 143, 218, 0.546);
    font-size: 1.5rem;
    border-radius: 50px;
    border: none;
    box-shadow: 2px 2px 2px rgb(20, 28, 29);
}

.btn:focus{
    background-color: #09b0e8;
    box-shadow: 1px 1px 2px rgb(32, 32, 23);
}

.btn:hover{
    background-color: #87c4e5;
    box-shadow: none;
}

.btn:active{
    background-color: #7dbee1;
    box-shadow: none;
}

footer{
 background-color: rgb(15, 11, 11);
}

#flex-contact-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    
}

.footer-text{
    text-align: center;
    color: #6fafd2;  
}

a{
    font-size: 3rem;
    color: #0073b1;
    transition: transform 0.3s ease 0.05s;  
}

a:hover {  
  transform: scale(1.25);
}

.flex-child{
cursor: pointer;
}

#flex-btn-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

@media only screen and (max-width: 600px){

    #radio-container{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        border: 2px solid rgba(4, 3, 90, 0.546);
    }

    img{
        border:1px black solid;
        width: 150px;
        height: 150px;
        margin-bottom: 2px;
    }

    select{
        font-size: 1.2rem;
        padding: 5px;
    }

}
